	{% load static %}
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
	<link href="{% static 'core/css/custom_ckeditor.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'core/css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/fontello1.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/estilos_propios.css' %}">

	